<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

<div class="container">
    <h1>
        Список спортсменов
    </h1>
    <ul>
        <% if (sports.length !== 0) { %>
            <% sports.forEach(({_id, club_name, emps}) => {
            %>
                <div class="name_container">
                    <li>
                        <p class="title-data">Данные о спортсмене</p>
                        <div class="div_date">
                            <span>
                                <span class="span_style">
                                    ID:
                                </span>
                                            <%= _id %>
                            </span>
                        </div>
                        <div class="div_name">
                            <% emps.forEach((emp => { %>
                                <span>
                                    <span class="span_style">
                                        Имя :
                                    </span>
                                    <span><%= emp.firstName %></span>
                                    <span><%= emp.lastName %></span>
                                </span>
                        </div>
                        <div class="div_date">
                            <span>
                                <span class="span_style">
                                    Дата рождения:
                                </span>
                                            <%= emp.startDate.toLocaleDateString() %>
                            </span>
                        </div>
                        <div class="div_club">
                            <span>
                                <span class="span_style">
                                    Клуб:
                                </span>
                                <%= club_name %>
                            </span>
                        </div>
                        <div class="div_sport" style="display: inline-block;">
                            <span class="span_style">Виды спорта:</span>
                            <p style="margin: 0">
                                <% emp.sport.forEach((sport => { %>
                                    <%= sport.name %>
                                <% })) %>
                            </p>
                        </div>
                        <div class="div_category">
                            <span class="span_style">Разряды:</span>
                            <% emp.sport.forEach((sport => { %>
                                <%= sport.category %>
                            <% })) %>
                        </div>
                        <div class="wrapper__trash" style="text-align:right">
                            <button class="btn-delete btn-primary" data-id="<%= _id %>">
                                <i class="fas fa-trash-alt" data-id="<%= _id %>"></i>
                            </button>
                        </div>
                    </li>
                    <li>
                        <p class="title-data">Данные о тренере</p>
                        <div class="div_trens" style="display: flex;">
                            <span class="span_style">Имя:</span>
                            <p style="margin: 0;">
                                <% emp.tren.forEach((tren => { %>
                                    <%= tren.nameOne %>
                                    <%= tren.secondName %>
                                <% })) %>
                            </p>
                        </div>
                        <div class="div_trens" style="display: flex;">
                            <span class="span_style">Дата рождения:</span>
                            <span>
                                <% emp.tren.forEach((tren => { %>
                                    <%= tren.startDate.toLocaleDateString() %>
                                <% })) %>
                            </span>
                        </div>
                        <div class="div_trens" style="display: flex;">
                            <span class="span_style">Спорт:</span>
                            <span>
                                <% emp.tren.forEach((tren => { %>
                                    <%= tren.sportTren %>
                                <% })) %>
                            </span>
                        </div>
                        <div class="div_trens" style="display: flex;">
                            <span class="span_style">Зарплата:</span>
                            <span>
                                <% emp.tren.forEach((tren => { %>
                                    <%= tren.salary %>
                                <% })) %>
                            </span>
                        </div>
                    </li>
                </div>
                <% })) %>
            <% }) %>
        <% } %>
    </ul>
</div>
<script>
    document.addEventListener('click', (e) => {
        const id = e.target?.dataset?.id || null;
        if (id) {
            fetch(`sports/${id}`, {
                method: 'DELETE',
            }).then(() => {
                window.location.reload();
            });
        }
    });
</script>
</body>
</html>